Package: dev.mateowang.videopace2
Name: videopace2
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mateo Wang
Author: Mateo Wang
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
