Package: dev.mateowang.videopace2
Name: videopace2
Version: 0.0.1
Architecture: iphoneos-arm
Description: A simple tweak that makes video play 2x faster
Maintainer: Mateo Wang
Author: Mateo Wang
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
